{% extends "base.html" %}
{% block maincontents %}
<div class="content-section">
    <div class="container">
        <div class="page-header">
        	<h2>模板基础信息：</h2>
        </div>
        <table id="table" data-sort-name="stargazers_count" data-sort-order="desc" data-page-size="15" data-page-list="[15,30,66,100]" >

        </table>
    </div>
    <div class="container">
        <div class="page-header">
        	<h2>图表设置：</h2>
    	</div>
    	<label>参数输入格式：输入参数ID号，只能输入数字和英文逗号，两个参数间以英文逗号分割，最后一个参数不加逗号）
        <br>示例：1,2,3,4,5,6</label>
        <h3>表1：</h3>
        <form action="/stencil_echarts/"  role="form" method="get">
            <font face="微软雅黑" size="4" color="#000000">
            <div class=“form-group”>
                <label>-256</label>
                <div class="form-inline">
                    <label>--设为折线的参数</label>
                    <br>
                    <input type="text" name="echarts_1_256_line" class="form-control" id="echarts_1_256_line" onkeyup="this.value=this.value.replace(/[^\d|,]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d|,]/g,'')"/>
                </div>
                <div class="form-inline">
                    <label>--设为柱状的参数</label>
                    <br>
                    <input type="text" name="echarts_1_256_bar" class="form-control" id="echarts_1_256_bar" onkeyup="this.value=this.value.replace(/[^\d|,]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d|,]/g,'')"/>
                </div>
                <div class="form-inline">
                    <label>--设为散点的参数</label>
                    <br>
                    <input type="text" name="echarts_1_256_scatter" class="form-control" id="echarts_1_256_scatter" onkeyup="this.value=this.value.replace(/[^\d|,]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d|,]/g,'')"/>
                </div>
                <label>-512</label>
                <div class="form-inline">
                    <label>--设为折线的参数</label>
                    <br>
                    <input type="text" name="echarts_1_512_line" class="form-control" id="echarts_1_512_line" onkeyup="this.value=this.value.replace(/[^\d|,]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d|,]/g,'')"/>
                </div>
                <div class="form-inline">
                    <label>--设为柱状的参数</label>
                    <br>
                    <input type="text" name="echarts_1_512_bar" class="form-control" id="echarts_1_512_bar" onkeyup="this.value=this.value.replace(/[^\d|,]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d|,]/g,'')"/>
                </div>
                <div class="form-inline">
                    <label>--设为散点的参数</label>
                    <br>
                    <input type="text" name="echarts_1_512_scatter" class="form-control" id="echarts_1_512_scatter" onkeyup="this.value=this.value.replace(/[^\d|,]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d|,]/g,'')"/>
                </div>               
            </div>
            <input type="submit" value="录入" id="set" class="btn btn-default" />
        </form>
    </div>
    <!-- /container -->
</div>

<script>


var $table = $('#table');
var table_list_json = {{ result_json | safe}}
$(function() {

    columns_set = [
            {
                title: 'name',
                field: 'c1:NAME',
                align: 'center',
                valign: 'middle'                
            },
            {
                title: 'ATA',
                field: 'c1:ATA',
                align: 'center',
                valign: 'middle'
            },
            {
                title: 'creator',
                field: 'c1:creator',
                align: 'center',
                valign: 'middle'
            },
            {
                title: '256参数列表',
                field: 'c1:WQAR256_IDC',
                align: 'center',
                valign: 'middle'
            },
            {
                title: '512参数列表',
                field: 'c1:WQAR512_IDC',
                align: 'center',
                valign: 'middle'
            }
        ]
    $table.bootstrapTable({
                data: table_list_json,
                columns: columns_set
            });
    
});
</script>

{% endblock %}