{% extends "base.html" %}
{% block maincontents %}
<div class="content-section">
    <div class="container">
        <div class="page-header">
        	<h2>模板基础信息：</h2>
        </div>
        <table id="table" data-sort-name="stargazers_count" data-sort-order="desc" data-page-size="15" data-page-list="[15,30,66,100]" >

        </table>
    </div>
    <div class="container">
        <div class="page-header">
        	<h2>图表设置：</h2>
            <form action="/stencil_echarts/" id="from_echarts">
            <font face="微软雅黑" size="4" color="#000000">
                <table class="table">
                {% for id_para in result_json_256 %}
                <tr>
                    <th>
                        {{ id_para }}
                    </th>
                    <th>
                        第<select id = "{{ id_para }}~" name = "chart_number">
                        <option value="None" >--</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        </select>张表&nbsp;&nbsp;&nbsp;
                    </th>
                    <th>
                        参数类型：
                        <select id= "{{ id_para }}" name = "chart_type">
                        <option value="None">--</option>
                        <option value="line">折线</option>
                        <option value="bar">柱状</option>
                        <option value="scatter">散点</option>
                        </select>
                    </th>
                    
                </tr>
                {% endfor %}
                </table>
                <input  value="录入" id="set" class="btn btn-default" />
            </font>
            </form>
    	</div>
    	
    </div>
    <!-- /container -->
</div>

<script>
$(document).ready(function(){
    $("#set").click(function(){
        var WQAR256_to_views = new Array();
        for (var i=0;i<3;i++)
        {
            WQAR256_to_views[i] = new Array;
        }
        var chart_number;
        var option_alone;
        var x=document.getElementById("from_echarts");
        for (var i=0;i<x.length;i++)
        {
          document.write(x.elements[i].id);
          document.write(x.elements[i].value);
          document.write("<br>");
          if (x.elements[i].value != "None" && x.elements[i].name == "chart_number")
          {
            chart_number = x.elements[i].value - 1
            option_alone = "\"" + x.elements[i+1].id + "\":\"" + x.elements[i+1].value + "\"";
            WQAR256_to_views[chart_number].push(option_alone);
          }
        }
        var json_str = JSON.stringify(WQAR256_to_views);

        document.write(WQAR256_to_views);
        $.ajax({
                    type:"POST",
                    data: "json_str",
                    url: "{% url 'stencil_echarts' %}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
                    cache: false,
                    dataType: "json",
                    success: function(result, statues, xml){
                        $("#result").html(result);                                         //成功时弹出view传回来的结果
                    },
                    error: function(){
                        alert("录入不成功");
                    }
                });

    });
});












var $table = $('#table');
var table_list_json = {{ result_json | safe}}
$(function() {

    columns_set = [
            {
                title: 'name',
                field: 'c1:NAME',
                align: 'center',
                valign: 'middle'                
            },
            {
                title: 'ATA',
                field: 'c1:ATA',
                align: 'center',
                valign: 'middle'
            },
            {
                title: 'creator',
                field: 'c1:creator',
                align: 'center',
                valign: 'middle'
            },
            {
                title: '256参数列表',
                field: 'c1:WQAR256_IDC',
                align: 'center',
                valign: 'middle'
            },
            {
                title: '512参数列表',
                field: 'c1:WQAR512_IDC',
                align: 'center',
                valign: 'middle'
            }
        ]
    $table.bootstrapTable({
                data: table_list_json,
                columns: columns_set
            });
    
});


</script>

{% endblock %}