{% extends "base.html" %}
{% block maincontents %}
<div class="content-section">
    <div class="container">
        <h2>单参数表：</h2>
        <form action="/ajax_single_para/"  role="form">

            <div class=“form-group”>
                <div class="form-inline">
                    <label>参数序号（只能输入数字）</label><br>
                    <input type="text" name="column_index" class="form-control" id="id_colunm_index" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
                </div>
            </div>
            <input type="submit" value="查询" id="set" class="btn btn-default" />
        </form>
        <table id="table" data-sort-name="stargazers_count" data-sort-order="desc" data-pagination="true" data-page-size="15" data-page-list="[15,30,66,100]" data-show-pagination-switch="true">

        </table>
    </div>
    <!-- /container -->
</div>
<!--/.content-section -->
<script>


var $table = $('#table');
var empty_json = {}
$(function() {

    columns_set = [
            {
                title: 'index',
                field: 'index',
                align: 'center',
                valign: 'middle',
                sortable: true
            },
            {
                title: 'value',
                field: 'value',
                align: 'center',
                valign: 'middle',
                sortable: true
            }
        ]
    $table.bootstrapTable({
                data: empty_json,
                columns: columns_set,
                search: true
            });
    
});


$(document).ready(function(){
      $("#set").click(function(){
        var column_index = $("#id_colunm_index").val();
        if (column_index==''){
            alert("信息不完整，请输入所有信息");
            return false;
        }



        $.ajax({
                    type:"GET",
                    data: {column_index:column_index},
                    url: "{% url 'ajax_single_para' %}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
                    cache: false,
                    dataType: "json",
                    beforeSend: function () {
                        $table.bootstrapTable('showLoading');
                        $table.bootstrapTable('load', empty_json);
                    },
                    success: function(result, statues, xml){
                        $table.bootstrapTable('hideLoading');
                        para_name = result[0].value;
                        $table.bootstrapTable('destroy');
                        columns_set = [
                            {
                                title: 'index',
                                field: 'index',
                                align: 'center',
                                valign: 'middle',
                                sortable: true
                            },
                            {
                                title: para_name,
                                field: 'value',
                                align: 'center',
                                valign: 'middle',
                                sortable: true
                            }
                        ]
                        result.shift();
                        $table.bootstrapTable({
                            data: result,
                            columns: columns_set,
                            search: true
                        });
                        //成功时弹出view传回来的结果
                    },
                    error: function(){
                        alert("录入不成功");
                    }
                });
                return false;
      });
    });

</script>

{% endblock %}