{% extends "base.html" %}
{% block maincontents %}

<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h3 class="widget-title">自建模版</h3>
            </div>
<!--参数样本的下载-->
            <div>
            <font face="微软雅黑" color="#000000">
                <h4>参数列表样本：</h4>
                <h4><a href="/static/737-3C.xlsx" target="_blank">点此下载737-3C参数样本</a></h4>
                <h4><a href="/static/737-7.xlsx" target="_blank">点此下载737-7 参数样本</a></h4>
            </font>
            </div>

            <div class="jumbotron">
                <form action="/storing_stencil_ajax/"  role="form">
                    <font face="微软雅黑" size="4" color="#000000">
                    <div class=“form-group”>
                        <div class="form-inline">
                            <label>ATA章节（只能输入数字）</label><br>
                            <input type="text" name="ATA" class="form-control" id="id_stencil_ATA" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
                        </div>
                        <div class="form-inline">
                            <label>模版名称</label><br>
                            <input type="text" name="stencil_name" id="id_stencil_name" class="form-control" />
                        </div>
                        <div>
                            <label>737-3C 构型参数列表（输入参数ID号，只能输入数字和英文逗号，两个参数间以英文逗号分割，最后一个参数不加逗号）
                            <br>示例：1,2,3,4,5,6</label>
                            <input type="text" name="list_para" class="form-control" id="id_256_stencil_para" onkeyup="this.value=this.value.replace(/[^\d|,]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d|,]/g,'')"/>
                        </div>
                        <div>
                            <label>737-7 构型参数列表（输入参数ID号，只能输入数字和英文逗号，两个参数间以英文逗号分割，最后一个参数不加逗号）
                            <br>示例：1,2,3,4,5,6</label>
                            <input type="text" name="list_para" class="form-control" id="id_512_stencil_para" onkeyup="this.value=this.value.replace(/[^\d|,]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d|,]/g,'')"/>
                            <label>创建者</label><br>
                            <input type="text" name="stencil_name" id="id_stencil_creator" class="form-control" />
                        </div>
                    </div>
                    <input type="submit" value="录入" id="set" class="btn btn-default" />
                </form>
                <div>
                
                    <p>录入结果: <span id='result'></span></p>
                </font>
                </div>
            </div>
        </div>
    </div>
    <!-- /container -->
</div>
<!--/.content-section -->
<script>
    $(document).ready(function(){
      $("#set").click(function(){
        var stencil_name = $("#id_stencil_name").val();
        var stencil_ATA = $("#id_stencil_ATA").val();
 		var stencil_256_para = $("#id_256_stencil_para").val();
 		var stencil_512_para = $("#id_512_stencil_para").val();
        var stencil_creator = $("#id_stencil_creator").val();
        if (stencil_name==''||stencil_ATA==''||stencil_256_para==''||stencil_512_para==''||stencil_creator==''){
            alert("信息不完整，请输入所有信息");
            return false;
        }



        $.ajax({
                    type:"GET",
                    data: {stencil_name:stencil_name,stencil_256_para:stencil_256_para,stencil_ATA:stencil_ATA,
                        stencil_512_para:stencil_512_para,
                        stencil_creator:stencil_creator},
                    url: "{% url 'storing_stencil_ajax' %}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
                    cache: false,
                    dataType: "html",
                    success: function(result, statues, xml){
                        $("#result").html(result);                                         //成功时弹出view传回来的结果
                    },
                    error: function(){
                        alert("录入不成功");
                    }
                });
                return false;
      });
    });
</script>


{% endblock %}